.container {    
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 480px auto 1fr;
    grid-template-areas: "video sidebar"
                         "lesson-info sidebar"
                         "content sidebar";  
    max-height: 1024px;
}
@media only screen and (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "video"
                           "content"
                           "sidebar";      
    }
  }
.video {
    grid-area: video;
}
.plyr__video-wrapper {
    background: #1F1F1F !important;
}
.sidebar {
    grid-area: sidebar;
    background: #282828;   
    border-left: 2px solid #393939;    
    overflow-y: scroll;
}
.sidebar .chapter-title {    
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 50px;
    column-gap: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
    background: #393939;
    cursor: pointer;
}
.sidebar .chapter-title i {
    justify-self: end;
    align-self: center;
}
.sidebar .chapter-title strong {
    align-self: center;
}
.sidebar .chapter-items {
    margin: 10px 0 10px 0;
}
.sidebar .chapter-items > li {
    display: grid;
    grid-template-areas: "check title"
                         "check subtitle";
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(2,1fr);
    column-gap: 6px;
    margin-top: 4px;
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
}
.sidebar .chapter-items > li:hover { 
    background: #393939;
}
.sidebar .chapter-items > li.active {
    color: #FF3D36;
}
.sidebar .chapter-items > li .check { 
    grid-area: check;
    justify-self: end;    
}
.sidebar .chapter-items > li strong {
    grid-area: title;
    font-size: 14px;
}
.sidebar .chapter-items > li p {
    grid-area: subtitle;
    font-size: 12px;
}
.lesson-info {
    grid-area: lesson-info;
    display: grid;
    grid-template-rows: repeat(2,auto);
    padding: 20px 80px 20px 80px;
    background: #393939;
}
.lesson-info strong {
    font-size: 1.6em;
}
.content {
    grid-area: content;
    background: #282828;
    color: #fafafa;    
    padding: 20px 80px 20px 80px;
}
.content strong {
    display: block;
    font-size: 1.4em;
    padding-bottom: 6px;  
}